body{
    background: url(./images/akat.jpg);
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   /* float: left;
   margin: 200px;
     */
   padding: 0 250px;

}

.main-part{

    height: 60px;
    width: 80px;
    text-align: center;
    /* background-color: #171617; */
    line-height: 0.2rem;
    border: 3px solid rgb(20, 20, 20);
    margin-top: 50vh;
    transition: all 1.1s ;


}

.main-part:hover{
    transform: scale(2);
    border: 5px solid yellow;
    box-shadow: 0 0 12px yellow;
}

.playing{

    transform: scale(2);
    border: 5px solid yellow;
    box-shadow: 0 0 12px yellow;

}
.transend{
    
}

.main-part-work{
    color: yellow;
    font-weight: bold;
}

.main-part-name{
    color: white;
}
